*, body, head, {
    padding:0px;
    font-size: 10px;
}

body {
    background-color: lightcyan ;
    font-family:"comic Sans ms", "comic sans", cursive;
}
.fake {
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 50%;
}

.parent {
    margin: auto;
    margin-bottom: 1rem;
    width: fit-content;
}

.input  {
    display: inline;
    margin: auto; 
}
.text {
    display: inline;
    margin: auto; 
}

.art{
    font-size: 200%;
}

.son{
    margin: auto;
    font-size: 300%;
}

.myImage {
    margin:auto;
}

#submit {
    display: block;
    margin: auto;
}