html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {

    background-image: url(https://th.bing.com/th/id/OIP.kOBu_wO9s1zEP7R5XomTVgHaFj?w=244&h=183&c=7&r=0&o=5&pid=1.7);
    background-size: cover;
    text-align: center;
    font-family: font-family: 'Raleway', sans-serif;
    font-family: 'Space Mono', monospace;
    background-color: #7BAFD4;
    font-size: 100px;
    margin: 50px;
}
p {
    font-weight: 900;
    color: white;
}
h1 {
    font-size: 4vw;
    margin: 40px;
}